@model IncidentManagerViewModel

@{
    ViewBag.Title = "Incident Manager";
}

<h2>@ViewBag.Title</h2>

<div class="nav nav-pills mb-3">
    <a class="nav-item nav-link" asp-action="Incident">All Incidents</a>
    <a class="btn btn-primary" asp-action="Incident">Unassigned Incidents</a>
    <a class="nav-item nav-link" asp-action="Incident">Open Incidents</a>
</div>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Date Opened</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var incident in Model.Incidents)
        {
            <tr>
                <td>@incident.Title</td>
                <td>@incident.Customer.FullName</td>
                <td>@incident.Product.Name</td>
                <td>@incident.DateOpened.Date.ToShortDateString()</td>
                <td>
                    <a asp-controller="Incident" asp-action="Edit" asp-route-id="@incident.IncidentID"
                       class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-controller="Incident" asp-action="Delete" asp-route-id="@incident.IncidentID"
                       class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Incident" asp-action="Add" class="btn btn-primary">Add Incident</a>
