@model Incident

@{
    
    ViewBag.Title = "Edit Incident";
}

<h2>@ViewBag.Title</h2>

<form asp-action="TechnicianEdit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <main class="container pl-0">
        <div class="row mb-3">
            <div class="col-4">Technician:</div>
            <div class="col-8">@Model.Technician.Name</div>
            <input type="hidden" asp-for="Technician.Name" />
            <input type="hidden" asp-for="Technician.Phone" />
            <input type="hidden" asp-for="Technician.Email" />
        </div>

        <div class="row mb-3">
            <div class="col-4">Customer:</div>
            <div class="col-8">@Model.Customer.FullName</div>
            <input type="hidden" asp-for="Customer.FullName" />
            <input type="hidden" asp-for="Customer.CustomerID" />
            <input type="hidden" asp-for="Customer.FirstName" />
            <input type="hidden" asp-for="Customer.LastName" />
            <input type="hidden" asp-for="Customer.Address" />
            <input type="hidden" asp-for="Customer.CountryID" />
            <input type="hidden" asp-for="Customer.City" />
            <input type="hidden" asp-for="Customer.State" />
            <input type="hidden" asp-for="Customer.PostalCode" />
        </div>

        <div class="row mb-3">
            <div class="col-4">Product:</div>
            <div class="col-8">@Model.Product.Name</div>
            <input type="hidden" asp-for="Product.Name" />
            <input type="hidden" asp-for="Product.ProductCode" />
        </div>

        <div class="row mb-3">
            <div class="col-4">Title:</div>
            <div class="col-8">@Model.Title</div>
            <input type="hidden" asp-for="Title" />
        </div>

        <div class="row mb-3">
            <div class="col-4">Date Opened:</div>
            <div class="col-8">@Model.DateOpened</div>
            <input type="hidden" asp-for="DateOpened" />
        </div>
    </main>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DateClosed">Date Closed</label>
        <input asp-for="DateClosed" class="form-control" />
    </div>

    <input type="hidden" asp-for="IncidentID" />

    <button type="submit" class="btn btn-primary">Save</button>
    <form method="get" asp-controller="Incident" asp-action="ListByTech">
        <button type="submit" class="btn btn-primary">Cancel</button>
    </form>
</form>